# Dataset and Large Files
Input/*
!Input/.gitkeep
splits/*
!splits/.gitkeep
cicids2017_cleaned.csv
*.csv
*.pcap
*.pkl

# Local docs (for report use only)
docs/

# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/